@page
@model PersonalPortfolio.Pages.Projects.IndexModel

<h2>Projects</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>URL</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model.Projects)
        {
            <tr>
                <td>@project.Title</td>
                <td>@project.Description</td>
                <td><a href="@project.ImageUrl" target="_blank">@project.ImageUrl</a></td>
                <td>@project.CreatedAt.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
